<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
img{
  display: inline-block;
}
h2{
  display: inline-block;
  border: 2px solid black;
  border-radius: 6px;
}
#wrapper{
  width: 100%;
  height: 60px;
  text-align: center;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // 버튼을 누르면...
    $(function(){ // 문서가 모두 load 되면
        $("button").on("click",function(){
            // 글쓰기 폼을 요청한다.
            location.href="/registForm.html";
        });
    });
</script>
</head>
<body>
  <div id="wrapper">
    <img src="../images/mario/mario.png" width="50px">
    <h2 align="center">초옥이 엉덩이 게시판</h2>
    <img src="../images/mario/mario.png" width="50px">
  </div>

<table>
  <tr>
    <th>No</th>
    <th>제목</th>
    <th>작성자</th>
    <th>등록일</th>
    <th>조회수</th>
  </tr>
  <%var n=noticeArray.length;%>
  <%for(var i=0; i<noticeArray.length; i++){%>
    <%var notice=noticeArray[i];%>
    <tr>
      <td><a href="/notice/detail?notice_id=<%=notice.notice_id%>"><%=n%></a></td>
      <td><a href="/notice/detail?notice_id=<%=notice.notice_id%>"><%=notice.title%></a></td>
      <td><%=notice.writer%></td>
      <td><%=notice.regdate%></td>
      <td><%=notice.hit%></td>
    </tr>
    <%n=n-1;%>
  <%}%>
  <tr>
      <td colspan="5">
          <button>글쓰기</button>
      </td>
  </tr>

</table>

</body>
</html>
